
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Scripts/element/element.css" />
    <script src="~/Scripts/element/vue.js"></script>
    <script src="~/Scripts/element/element.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <div id="box" class="box">
        <div class="content">
            <div class="login-wrapper">
                <h1>登录</h1>
                <div class="login-form">
                    <div class="username form-item">
                        <span>账号</span>
                        <input type="text" class="input-item" placeholder="请输入账号" v-model="account">
                    </div>
                    <div class="password form-item">
                        <span>密码</span>
                        <input type="password" class="input-item" placeholder="请输入密码" v-model="pwd">
                    </div>
                    <button class="login-btn" v-on:click="login">登 录</button>
                </div>
                <div class="divider">
                    <span class="line"></span>
                    <span class="divider-text">其他方式登录</span>
                    <span class="line"></span>
                </div>
                <div class="other-login-wrapper">
                    <div class="other-login-item">
                        <img src="~/imgs/QQ.png" alt="QQ登录" v-on:click="loginQQ">
                    </div>
                    <div class="other-login-item">
                        <img src="~/imgs/WeChat.png" alt="微信登录" v-on:click="loginWeChat">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#box",
            data: {
                account: "",
                pwd:""
            },
            methods: {
                openLoading(is_open, text) {
                    const loading = this.$loading({
                        lock: true,
                        text: text,
                        spinner: 'el-icon-loading'
                    })
                    if (!is_open) {
                        loading.close();
                    }
                },
                loginQQ: function () {
                    this.$message('还在开发中,别乱点！');
                },
                loginWeChat: function () {
                    this.$message('还在开发中,别乱点！');
                },
                login: function () {
                    const t = this;
                    if (t.account == "" || t.account == null) {
                        t.$message.error('账号都没填写怎么登录！');
                        return;
                    }
                    if (t.pwd == "" || t.pwd == null) {
                        t.$message.error('密码也没有填写呢！');
                        return;
                    }
                    t.openLoading(true, '正在登陆，请稍等...');
                    $.ajax({
                            url: '@Url.Action("Login", "hradmin")',
                            type: "post",
                            dataType: "json",
                            data: { name: t.account,pwd:t.pwd },
                            success(data) {
                                if (data.status === true) {
                                    t.openLoading(false, '');
                                    t.$message.success('登陆成功！');
                                    url_pos = '@Url.Action("Index", "Home")';
                                    window.location.href = url_pos;
                                } else {
                                    t.openLoading(false, '');
                                    t.$message.error(data.message);
                                    return;
                                }
                            }
                        })
                },
                // 点击回车键登录
                keyDown(e) {
                    // 回车则执行登录方法 enter键的ASCII是13
                    if (e.key == 'Enter') {
                        this.login(); // 定义的登录方法
                        e.preventDefault(); // 去掉默认的换行
                    }
                }
            },
            created() {
                if ('@ViewBag.is_login' == "1") {
                            window.location.href='@Url.Action("Index","Home")'
                }
            },
            mounted() {
                // 绑定监听事件
                window.addEventListener("keydown", this.keyDown);
            },
            destroyed() {
                // 销毁事件
                window.removeEventListener("keydown", this.keyDown, false);
            }
        })
    </script>
</body>
</html>
